:root{
  --mainblue:#2B3E96;
  --lightblue: #0084ff;  
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.banner-text{
  position: absolute;
  top: 50%;
  left: 50%;  
}

/*Added styles*/
.nav-item > .nav-link{
  color: #fff;
}
.nav-item.active>.nav-link{
  color: var(--lightblue);
}
.bg-darkblue{
  background-color: var(--mainblue) !important;
}
button.btn-outline-custom {
  color: var(--lightblue);
  border-color: var(--lightblue);
  transition-duration: 0.5s;
}
button.btn-outline-custom:hover {
  color: white;
  border-color: white;
}